#indexBtn1 a.btn.my-btn.text-uppercase {
    transition: 1s;
    padding-left: 2.5rem ;
    padding-right: 2.5rem ;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    text-transform: uppercase;
    
}
/* .second__second_index .main__buttons .second_btn_section a.btn{
    
} */
#indexBtn1 a.btn.my-btn.text-uppercase:hover {
    color: #f1e9b8 !important;
    background: #77a6ba !important ;
    
        
}
#indexBtn1 a.btn.my-btn.text-uppercase i{
    color: #77a6ba !important ;
    transition: 1s;

}
#indexBtn1 a.btn.my-btn.text-uppercase:hover i {
    color: #f1e9b8 !important;
}

#indexBtn2 a.btn.my-btn.text-uppercase {
    background: #77a6ba !important;
    color: #f1e9b8 !important ;
    transition: 1s;
    padding-left: 2.5rem ;
padding-right: 2.5rem  ;
padding-top: 1rem;
padding-bottom: 1rem;
text-transform: uppercase;
        
}

#indexBtn2 a.btn.my-btn.text-uppercase:hover {
    color: #77a6ba !important;
    background: #f1e9b8 !important ;
        
}
#indexBtn2 a.btn.my-btn.text-uppercase i{
    color: #f1e9b8 !important ;
    transition: 1s;

}
#indexBtn2 a.btn.my-btn.text-uppercase:hover i {
    color: #77a6ba !important;
}


#sidebar li.list-group-item {
    border: none !important;
}
#sidebar ul.list-group {
    margin-inline-start: 1% !important;
}
#sidebar h5.card-title {
    color: #84a0ac !important;
    margin-inline-start: 8% ;
    font-size: 1.5rem !important;
}
#sidebar .card {
    border-radius: 10px !important;
    /* margin-left: 20% !important; 
    margin-top:10% !important;
    width: 80% !important; */
    margin: 6%;
}
#sidebar i{
    color: #84a0ac; 
    font-size: 1.5rem !important;
    line-height: 2.2rem;
}
#sidebar p.large {
    margin-bottom: 0;
    color: #84a0ac;
    
}
#sidebar p.smallp {
    font-size: 1.3rem;
    
}
#tabs .card {
    border-radius: 10px !important;
    
    /* margin-top:3% !important; */
    margin: 2%;
    
   
    
}
/* #subtabs .card {
    border-radius: 10px !important;
    
    margin-top:3% !important;
    margin-right: 5%;
    
} */
#cardInsideCard .card{
    border-radius: 5px !important;
    margin-top: 0 !important;
    margin-right: 0 !important;
    width: 20%;
    height: 10%;
    background-color: #84a0ac;
 
    
}
.mid {
    text-align: center;
}
@media (min-width: 768px) {
    .mid {
        text-align: left;
    }
}

#cardInsideCard p{
    align-self: center !important;
    color: whitesmoke;
    font-size: 1.8rem;
}
#cardInsideCard button.btn.btn-primary {
    
    height: 30px;
    background-color: #84a0bf;
    width: 100px;
    font-size: 1.5rem;
}
#HeadaingP p{
    color: #84a0ac;
    font-size: 2.2rem;
    font-weight: bold;
}
#HeadaingZ p{
    color: #84a0ac;
    font-size: 1.5rem;
    font-weight: bold;
    /* float: right; */
    /* text-align: right; */
    
    
}
#subHeaderCard .card{
    border-right: none;
    border-left: none;
    border-radius: 0px !important;
    margin: 2% !important;

}

#BodyCard .card{
    
    
    margin: 2% !important;
    border: none !important;
    /* border-top: 1px !important; */

   

}
#BodyCard th{
    border: none;
    font-size: 1.5rem;
    color: #84a0ac;
    
}
.new{
    font-weight: normal !important;
}


#HeadaingN p{
    color: #84a0ac;
    font-size: 1.5rem;
    padding: 0.5%;
    text-align: center;
    margin-bottom: 0;
}
#tabss a{
    font-size: 1.4rem; 
    color: #84a0ac;
    font-weight: 500;
}
#tabss .card{
    border-bottom: 1px solid #f1e9b8 ;
    margin: 2%;
}
#tabss .nav-tabs .nav-link {
    border: 0px !important; 
     border-top-left-radius: 0px !important; 
     border-top-right-radius: 0px !important;
     text-transform: uppercase;
     padding: 1rem;
}
#tabss .nav-item.nav-link.active {
    color: #f1e9b8 !important;
    background: #77a6ba !important;
    font-weight: bold !important;
    border: 0.5rem !important;
    border-top-left-radius: 0.5rem !important;
    border-top-right-radius: 0.5rem !important;
    border-bottom-left-radius: 0.5rem !important;
    border-bottom-right-radius: 0.5rem !important;
}
#tabss .card-header {
    background-color: white !important;
}
#tabss .card-body {
    padding: 0px !important;
} 
#tabss .nav-tabs {
    border-bottom: 0px !important ;
}

#mainHeader .card {
    border: 1px solid #84a0ac;
    border-radius: 5px;
    margin: 3% 0;
    /* margin-left: 5%;
    margin-right: 5%; */
}
#mainHeader i {
    font-size: 1.4rem !important;
    line-height: 2.2rem;
    color: #84a0ac;
}
#activeOrdersCard .card {
    border: 1px solid #84a0ac;
    border-radius: 5px;
    margin: 2% 0;
    
}
/* #activeOrdersCard button.btn.btn-primary {
    height: 40px;
    background-color: #84a0bf;
    color: #f1e9b8;
    width: 110px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
} */
#activeOrdersCard button.btn.my-btn:hover {
   
    color: #f1e9b8 !important;
    background: #84a0bf ;
   
}

#cardLayer .card {
    
    background-color: #84a0ac;
    height: 45px;
    border-radius: 0px !important;
    
    
   margin: 0px !important;
    
}
#cardLayer p{
    color: whitesmoke !important;
    font-size: 1.5rem;
   padding-left: 2%;
   padding-right: 2%;
   /* padding-bottom: 1%; */

}
#cardLayer .row{
    padding-left: 2%;
    padding-right: 2%;
}

.message-wrapper {
    padding: 10px;
    height: 536px;
    background: #eeeeee;
}

.messages .message {
    margin-bottom: 15px;
}

.messages .message:last-child {
    margin-bottom: 0;
}

.received, .sent {
    width: 45%;
    padding: 3px 10px;
    border-radius: 10px;
}

.received {
    background: #ffffff;
}

.sent {
    background: #84a0bf;
    float: right;
    text-align: right;
}

.message .sent p {
    margin: 5px 0;
    color: whitesmoke;
}
.message .received p {
    margin: 5px 0;
    color: black;
}
.message .date {
    color: whitesmoke;
    font-size: 12px;
}

.message .active {
    background: #eeeeee;
}

#messages input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0 0 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #cccccc;
}

#messages input[type=text]:focus {
    border: 1px solid #aaaaaa;
}
.user-wrapper, .message-wrapper {
    border: 1px solid #dddddd;
    overflow-y: auto;
}






/* #tabss nav > .nav.nav-tabs{

    border: none;
      color:#fff;
      background:#272e38;
      border-radius:0;
  
  }
  #tabss nav > div a.nav-item.nav-link,
  #tabss nav > div a.nav-item.nav-link.active
  {
    border: none;
      padding: 18px 25px;
      color:#fff;
      background:#272e38;
      border-radius:0;
  }
  
  #tabss nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #e74c3c ;
  }
  #tabss .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      border: 1px solid #ddd;
      border-top:5px solid #e74c3c;
      border-bottom:5px solid #e74c3c;
      padding:30px 25px;
  }
  
  #tabss nav > div a.nav-item.nav-link:hover,
  #tabss nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #e74c3c;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  } */
  .TandS {
    text-align: left;
     padding-left:0px;
     margin:20px;
      margin-left:0px !important;
       font-size:1.5rem;
        text-transform: uppercase;
         font-weight:500;
     color: #84a0ac !important; 

  }
  /* img#designID:hover {
    transform: scale(1.2,1.2);
}
img#designID
{
    transition: 0.5s ease;
} */
.chlidren_spacing button
{
    overflow: hidden;
}
#footer-button .btn-primary{
    background-color: #84a0bf;
    border-color: #84a0bf;
}
#footer-button .btn-primary:hover {
    background-color: #84a0bf;
    border-color: #84a0bf;
}
#footer-button .btn-primary:active{
    background-color: #84a0bf;
    border-color: #84a0bf;
}
#modalBodyContent label{
    font-size: 1.1rem;
    font-weight: 600;
}     
/* .Second_main_section .tab-content .my_flex_main .flex_child {
    width: 33% !important;
} */
#exampleFormControlFile1 {
 padding: 2rem .75rem !important;
}
#navPillsId {
    padding: 1.25rem;
}
#navPillsId ul.nav li.nav-item::before {
    content: '';
    width: 16px;
    height: 16px;
    background: #f8f9fa;
    border: 1px solid #898989;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
    border-radius: 50%;
}
#navPillsId ul.nav li.nav-item {
    position: relative !important;
}
#navPillsId ul.nav li.nav-item.active::after {
    content: '';
    width: 8px;
    height: 8px;
    background: #84a0bf;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.sideBarSearch a{
    color: #5f8fa5;
    text-decoration: none;
    text-transform: capitalize;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 500;
} 

.sideBarSearch #primary-event-collapse .collapse .active {
    height: 150px !important;
}

.sideBarSearch .custom-control-label::before {
width: 1.2rem;
height: 1.2rem;
}
.sideBarSearch .custom-control-label{
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.5rem;
    color: #898989;
}
.allLocations {
    padding-left: 10px;
}
button.btn.btn-sm.btn-block.btn-dark.mb-2 {
    height: 25px;
}
.sideBarSearch .form-control-sm {
    font-size: 1.2rem;
}
.sideBarSearch .pl-5, .px-5 {
    padding-left: 1.5rem!important;
}
.sideBarSearch .card-header {
    background-color: transparent !important;
    border-top: 1px solid rgba(0,0,0,.125);
}
 ul#pills-tab { 
    
    margin: 0;
    padding: 0 !important;
    /* padding-left: 1.25rem !important; */
    /* border-radius: .5rem; */
    
}


/* .joinOurHouse {
    display: none !important;
} */
/* .joinOurHouse input.form-control {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    padding: 12px 12px !important;
    font-weight: 600 !important;
    font-family: Latinotype Recoleta Semi Bold,Courier New,Courier,Georgia,Times,Times New Roman,serif!important;
    width: 100% !important;
    border: 2px solid #271827!important;
    border-radius: 6px !important;
    color: #271827!important;
    height: 100% !important;
    background-color: #fff !important;
} */
.joinOurHouse .form-control {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    padding: 12px 12px !important;
    font-weight: 600 !important;
    /* font-family: Latinotype Recoleta Semi Bold,Courier New,Courier,Georgia,Times,Times New Roman,serif!important; */
    width: 100% !important;
    border: 2px solid #84a0bf !important;
    border-radius: 6px !important;
    /* color: #84a0bf!important; */
    height: 100% !important;
    background-color: #fff !important;
}
.joinOurHouse label{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #84a0bf;
}
.joinOurHouse .btn-dark {
    color: #f1e9b8;
    background-color: #77a6ba;
    border: 1px solid#77a6ba;
    width: 100%;
    height: 40px;
    font-weight: 700;
}
.joinOurHouse .btn-dark:hover {
    color: #77a6ba;
    background-color: #f1e9b8;
    border:  1px solid #77a6ba !important;
    
}
.joinOurHouse .btn-dark:not(:disabled):not(.disabled):active, .show>.btn-dark.dropdown-toggle {
    color: #fff;
    background-color: #77a6ba;
    border-color: #77a6ba;
}
/* footer a.btn.my-btn {
    transition: 1s;
    }; */

footer a.btn.my-btn:hover {
    color: #f1e9b8 !important;
    background: #77a6ba ;
    border: 1px solid #f1e9b8;
    };
  
     /* a.btn.my-btn.text-uppercase {
        transition: 1s;
        padding-left: 2.5rem !important;
        padding-right: 2.5rem !important ;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        text-transform: uppercase;
    } */
    
    
    /* #indexBtn2 a.btn.my-btn.text-uppercase:hover {
        color: #f1e9b8 !important;
        background: #77a6ba !important ;
       
    } */
    
    /* a.btn.my-btn.text-uppercase i:hover{
        color: #f1e9b8 !important ;

    } */
    /* .second__second_index .main__buttons .first_btn_section a.btn:hover {
        
    } */
    header .buttons_main a.btn.my-btn {
      
        transition: 1s;
    }
    
    header .buttons_main a.btn.my-btn:hover {
        color: #f1e9b8 !important;
        background: #77a6ba !important;
        /* border: 1px solid #f1e9b8 !important; */
    }
/* navbar-nav .buttons_main a.btn.my-btn:hover {
   
    }; */

a.signoutText {
    font-size: 1.4rem !important;
    font-weight: bold !important;
    color: #84a0ac !important;
    text-transform: capitalize !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    transition: 1s;
}
a.signoutText i {
    color:#84a0ac;
    transition: 1s;
}
a.signoutText:hover i {
    color:#5E7179;
}

a.signoutText:hover {
    color: #5E7179 !important;
}
/* .header_beneath .row.under_nav .my_link a:hover {
    color: #63757d !important;
} */


/* img#recentID:hover {
    transform: scale(1.2,1.2);
}
img#recentID
{
    transition: 0.5s ease;
}
img#productImg{
   
    transition: 0.5s ease;
}
img#productImg:hover{
transform: scale(1.2,1.2);
} */
.header_beneath .my_main_product_text .roduct_imgage {
    overflow: hidden;
}
footer ul li a:hover{
    color: #f1e9b8 !important;
}
footer ul li a{
    font-weight: 600;
}
/* #learMore a.btn.my-btn:hover{
    color: #f1e9b8 !important;
        background: #77a6ba !important ;

}  */
#learnMore a.btn.my-btn {
    transition: 1s;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
#learnMore a.btn.my-btn:hover {
    background: #77a6ba !important;
    color: #f1e9b8 !important;
}
#getStarted a.btn.my-btn:hover{
    background: #f1e9b8 !important;
    color: #77a6ba !important;
}
#getStarted a.btn.my-btn{
    color: #f1e9b8 !important;
    transition: 1s;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    text-transform: uppercase;

    /* color: #77a6ba !important; */
}
#customizeonProduct a.btn.my-btn{
    color: #f1e9b8 !important;
    transition: 1s;
    /* color: #77a6ba !important; */
}
#customizeonProduct a.btn.my-btn:hover {
    background: #f1e9b8 !important;
    color: #77a6ba !important;
}
#productSubmit a.btn.my-btn:hover {
    background: #77a6ba !important;
    color: #f1e9b8 !important;
}
#productSubmit a.btn.my-btn {
    transition: 1s;
}
#productClose .btn.w-100.my-btn.close___button{
    color: #f1e9b8;
    transition: 1s;
}
#productClose .btn.w-100.my-btn.close___button:hover {
    background: #f1e9b8 !important;
    color: #77a6ba !important;
}
#designDetailNext a.btn.my-btn{
  
    color: #f1e9b8 !important;
    transition: 1s;
}
#designDetailNext a.btn.my-btn:hover{
    background: #f1e9b8 !important;
    color: #77a6ba !important;
}
#printTypeNext a.btn.my-btn{
    color: #f1e9b8 !important;
    transition: 1s;
}
#printTypeNext a.btn.my-btn:hover{
    background: #f1e9b8 !important;
    color: #77a6ba !important;
}

header nav ul li a i {
    color: #84a0ac !important;
    font-size: 1.4rem !important;
    transition: 0.5s;
    
}
header nav ul li a  {
   
    transition: 0.5s;
    
}

header nav ul li a:hover {
    color: #5E7179 !important;
    /* background-color: #84a0ac;
    
    
    border: 1px solid #f1e9b8;
    border-radius: 0.5rem; */
   
    
}
header nav ul li a:hover i {
    color: #5E7179 !important;
 
    
}
.index__section_three .main__slide_section .slide__all_parent:hover {
    transition: 1s;
}
footer h1{
    margin-top: 15%;
}
h1 {
    font-weight: bold !important;
    margin-bottom: 20px;
}




/* Start */


.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(0,1);
    -ms-transform: scale(0,1);
    transform: scale(0,1);
  }
  
  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 17px;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  /* .all_designs_main .child_image {
    width: 25% !important;
} */




#overlayDesign a.btn{
    /* padding-bottom: 0.5px !important; */
    /* border: 1px solid whitesmoke; */
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
    transition: 1s;
/* padding:0px !important; */
}
#overlayDesign a.btn i{
    color: #77a6ba;
    
}
#overlayDesign a.btn:hover i{
    color: #f1e9b8;
    
}
#overlayDesign a.btn:hover{
    /* padding-bottom: 0.5px !important; */
    /* background-color: #928f8f; */
    background: #77a6ba  !important;
    color: #f1e9b8 !important;
    

}
#productOverlayButton a.btn.my-btn:hover{
    /* padding-bottom: 0.5px !important; */
    /* background-color: #928f8f; */
    background: #f1e9b8  !important;
    color: #77a6ba !important;
    

}
#productOverlayButton a.btn.my-btn{
    transition: 1s;
    /* padding-bottom: 0.5px !important; */
    /* background-color: #928f8f; */
    background: #77a6ba  !important;
    color: #f1e9b8 !important;
    

}
#designOverLayProducts a.btn.my-btn{
    transition: 1s;
}

#designOverLayProducts a.btn.my-btn:hover{
    background: #77a6ba  !important;
    color: #f1e9b8 !important;
}
.header_beneath .main_all_produts_section .main_prduct {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 20px 0px;
    max-width:100% !important;
}
.header_beneath .main_all_produts_section .main_prduct > div {
    border: 1px solid #ced4da;
    width: 200px;
    margin: auto;
    padding: 20px;
}
.header_beneath .main_all_produts_section .main_prduct h1 {
    margin-bottom: 20px;
}
button#productNext {
    width: 100%;
}
#designModalHeading h1{
    font-size: 2.5rem;
}
label {
    font-family: 'Nunito', sans-serif !important; 
}
input {
    font-family: 'Nunito', sans-serif !important;
}
body {
    font-family: 'Nunito', sans-serif !important;
}
.main_labels{
    color: #84a0ac;;
}
#priEvents label.custom-control-label {
    padding-left: 0.8rem;
}
#EventsMain label.custom-control-label{
    padding-left: 0.8rem;
}
#orgMain label.custom-control-label{
    padding-left: 0.8rem;
}

.text-center.d-md-none button.btn.my-btn.w-100:hover {
    background: #77a6ba !important;
    color: #f1e9b8 !important;
}
.f-bold {
    font-weight: 500 !important;
}
.form-control {
    color: #898989 !important;
}
#finalSubmit a.btn.my-btn{
    color: #f1e9b8 !important;
}
#finalSubmit a.btn.my-btn:hover{
    color: #77a6ba !important;
    background: #f1e9b8 !important;
}
#hoverAnchor p {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize !important;
    color: #84a0ac
}
.t-font {
    color: #898989 !important;
    font-size: 1.5rem;


}
#cpbtn button.btn.my-btn{
    transition: 1s;
}
#cpbtn button.btn.my-btn:hover{
    
    color: #f1e9b8 !important;
    background: #77a6ba  !important;
}

.modalLabels{
    color: #84a0ac;
}
#footer-button button.btn.my-btn{
    transition: 1s;

}
#footer-button button.btn.my-btn:hover{
    background: #77a6ba;
    color: #f1e9b8 !important ;

}