header
{
    border-bottom: 1px solid #f6f6f6;
    nav
    {
    
        ul
        {
            li
            {
                a
                {
                    font-size: 1.4rem;
                    font-weight: bold;
                    color:#84a0ac !important;
                    text-transform: capitalize;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img
                    {
                        margin-right: 0.87rem;
                    }
                }
                
            }
            .active
                {
                    position: relative;
                    &:before
                    {
                        content: '';
                        width: 100%;
                        height: 2px;
                        background: #f1e9b8;
                        position: absolute;
                        bottom: -14px;
                    }
                }
        }
    }
    .navbar-brand
    {
       
       
           
        
            img
            {
                max-width: 20rem;
            }
       
    }
    .buttons_main
    {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cart_div
    {
        position: relative;
        i.fa-cart-arrow-down
        {
            color: #a6bdbc;
        }
        .number_div
        {
            position: absolute;
            top: -0.7rem;
            right: -0.9rem;
            width: 1.5rem;
            height: 1.5rem;
            background: #f1e8b8;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
        }
    }
    a.signoutText
    {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        color:#87acb4;
        font-weight: normal;
        text-decoration: none;
        font-weight: normal;
        
        i
        {
            color: #87acb4;
        }
    }

   }