
.rough_textmain
{
    .main_paragraph
    {
        max-width: 65rem;
        margin: auto;
        @include smallmargin;
    }
    .button_div
    {
        a
        {
            background:#77a6ba ;
            color: #e8f5f7 !important;
            padding: 0.5rem 2.5rem;
        }
    }
}
#loader{
    
// $color: #926def, #8c6ced, #876beb, #6565dd, #5f64db;
$color: #49b8e5, #1e98d4, #2a92d0, #3a88c8, #507cbe; 

body {
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  overflow: hidden;
}

$circle-size: 20px;
$circle-margin: 7px; 

.circle {
  width: $circle-size;
  height: $circle-size;
  border-radius: 50%;
  margin: $circle-margin;
  display: flex;
  justify-content: center;
  align-items: center;

  &:before {
    content: "";
    width: $circle-size;
    height: $circle-size;
    border-radius: 50%;
    opacity: 0.7;
    animation: scale 2s infinite 
      cubic-bezier(0, 0, 0.49, 1.02);
  }
}

@for $i from 1 through 5 {
  .circle-#{$i} {
    background-color: nth($color, $i);
    &:before {
      background-color: nth($color, $i);
      animation-delay: 200ms * $i;
    }
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50%, 75% {
    transform: scale(2.5);
  }
  78%, 100% {
    opacity: 0;
  }
}


// .all_designs_main .child_image .main_child_spacing {

// }
}